{
  "presets": ["@babel/react", "@babel/env", "@babel/stage-0"],
  "env": {
    "development": {
      "presets": []
    }
  },
  "plugins": [
    [
      "module:babel-root-import",
      {
        "rootPathSuffix": "src"
      }
    ]
  ]
}
