{
  "presets": ["@babel/react", "@babel/env"],
  "env": {
    "development": {
      "presets": []
    }
  },
  "plugins": [
    [
      "module:babel-root-import",
      {
        "rootPathSuffix": "src"
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
