@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");

$main-bg-color: #fff;
$accent-blue: #36aecc;
$lighter-blue: #d2edf4;
$lightest-blue: #e9fbff;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: "Vollkorn", serif;
  font-size: 3vw;
  margin-top: 0;
}

h5 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

// ====== Login =====

form.gate input {
  font-size: 1em;
}

.button {
  background-color: #36aecc;
  color: white;
  border-radius: 4px;
}

.button:hover {
  color: black;
  background-color: #cce7ff;
}

// ====== Editor ======

.editor {
  box-sizing: border-box;
  border-top: 1px solid $lightest-blue;
  border-right: 1px solid $lightest-blue;
  border-bottom: 1px solid $lightest-blue;
  border-left: 1px solid $accent-blue;
  cursor: text;
  padding: 0.5em;
  margin-bottom: 0em;
}

.editor.saved {
  border-left: 1px solid $lightest-blue;
}

.editor.focused.saved {
  border-left: 1px solid black;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 2em;
}

figure {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0em;
  -webkit-margin-end: 0em;
}

// ===== OmniSearch ====

.omni-search {
  input {
    font-size: 66%;
    line-height: 1.5em;
    font-family: "Vollkorn", serif;
    width: 33em;
    padding: 0px;
    border-width: 0px;
  }

  input:focus {
    outline: none;
  }

  .suggestions {
    height: 1em;
    font-size: 66%;

    .suggestion-popover {
      position: relative;
      background-color: white;
      border: 1px solid $accent-blue;
      z-index: 500;

      div {
        padding-left: 0.5em;
      }

      .selected {
        background-color: $lighter-blue;
      }
    }
  }
}

// ==== Flex =====

// 33 ems per column
.columns-1 {
  font-size: 100%;
  width: 33em;
}
// 25 ems per column
.columns-2 {
  font-size: 66%;
  width: 50em;
}
// 22 ems per column
.columns-3 {
  font-size: 50%;
  width: 66em;
}
// 25 ems per column
.columns-4 {
  font-size: 33%;
  width: 100em;
}

.flex-writer {
  display: flex;
  flex-direction: row;
}

.flex-column {
  position: relative;
  transition: top 0.2s ease;
  height: 100vh;
  overflow-y: auto;
  flex-grow: 1;
  flex-basis: 0;
}

.flex-column.first-visible {
  position: static;
  height: 100%;
}

.flex-column.focused {
  border-left: 2px dashed $accent-blue;
}

.column-item {
  // margin: 0em 0.5em;
}

.column-item.column-filler {
  text-align: center;
  margin-bottom: 10em;
}

.focused .column-item.column-filler {
  color: $accent-blue;
}

// ==== Util ====

.hidden {
  display: none;
}
