@import url(//fonts.googleapis.com/css?family=Vollkorn:400italic,400);

$main-bg-color: #fff;
$accent-blue: #36AECC;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Vollkorn', serif;
  font-size: 2vw;
}

// ====== Editor ======

.editor {
  box-sizing: border-box;
  border: 1px solid $accent-blue;
  cursor: text;
  padding: .5em;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  width: 37em;
}

.editor.saved {
  border: 1px solid black;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 2em;
}

// ===== OmniSearch ====

.omni-search {
  input {
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Vollkorn', serif;
  }

  .suggestions {
    height: 1em;
  }
}
